*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

.container{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.card{
    background-color: aqua;
    color: black;
    height: 80vh;
    width: 40%;
    border-radius: 0.6rem;
    padding: 1rem;
    overflow: scroll;
}

.card-body{
    /* overflow: scroll; */
}

.card-title{
    text-align: center;
    font-weight: 800;
    margin-bottom: 10px;
}


input{
    border-radius: 0.6rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    width: 80%;
    border: 2px solid red;
    background: transparent;
}

.btn{
    padding: 0.5rem;
    border: none;
    background-color: rgb(189, 32, 5);
    color: white;
    border-radius: 0.6rem;
    font-size: 1.2rem;
    font-weight: 700;
    width: 19%;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover{
    background-color: blue;
    color: white;
}

.btnx{
    padding: 0.5rem;
    border: none;
    background-color: tomato;
    color: white;
    border-radius: 0.6rem;
    /* width: 19%; */
    cursor: pointer;
    transition: all 0.3s;
}

.btnx:hover{
    background-color: blue;
    color: white;
}

.li-style{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 0.5rem;
    border-radius: 0.6rem;
    margin: 1rem 0;
    transition: all 0.3s;
}

.li-style:hover{
    background-color: #111;;
}

.bg-success{
    background-color: rgb(121, 255, 133);
    color: black;
    font-size: 1rem;
    border-left: 6px solid rgb(184, 2, 2);
    margin: 0.5rem 0;
    padding: 0.5rem;
}

.bg-danger{
    background-color: pink;
    color: black;
    font-size: 1rem;
    border-left: 6px solid rgb(184, 2, 2);
    margin: 0.5rem 0;
    padding: 0.5rem;
}